script(src='./assets/js/libs.js')
script(src='./assets/js/app.js')

//- Jasmine
script(src='../node_modules/jasmine/node_modules/jasmine-core/lib/jasmine-core/jasmine.js')
script(src='../node_modules/jasmine/node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js')
script(src='../node_modules/jasmine/node_modules/jasmine-core/lib/jasmine-core/boot.js')

script(src='calc.js')

script(src='../spec/tests.spec.js')
